<% content_for :title, "Home" %>

<% if current_user.id == @user.id %>
	<h1> Welcome <%= current_user.first_name %>!</h1>
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 useractioncontainer">
			<h3>Actions</h3>
			<ul class="useractionlist">
				<% case current_user.role.name
					when  "admin" %>
						<%= render 'shared/useractions/adminactionbar' %>
					<% when  "projectleader" %>
						<%= render 'shared/useractions/projectleaderactionbar' %>
					<% when  "user" %>	
						<%= render 'shared/useractions/useractionbar' %>
					<% else %>
						<h1> NO USER ROLE - CONTACT ADMIN</h1>
				<% end %>	
			</ul>	
		</div>
	</div>
<% else %>
	<h2>Profile Page</h2>
	<p> Email: <%= @user.email %></p>
	<p> Role: <%= @user.role.name %></p>
<% end %>